@import './base.css';

:root {
  --grey: #627c93;
  --light-orange: #ffe9de;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-optical-sizing: auto;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
  height: 100%;
}
